@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=League+Spartan:wght@100..900&display=block');

html, body {
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
    background-color: black;
    outline: none;
}

#edit-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
    height: calc(100% - 3rem);
    background-color: rgba(0, 0, 0, 0.6);
}

#edit-menu canvas {
    width: 100%;
    height: 100%;
}

#edit-menu input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
}

#toolbelt {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}